<!DOCTYPE html>
<html lang="en">
<head>
  <title>mybrandbot</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>

    <script src="controller.js"> </script>
</head>
<body ng-app="myapp">

<div class="jumbotron text-center">
  <h1>MybrandBot</h1>
  <p>Welcome to the Management page of MybrandBot</p> 
</div>
  
<div class="container" >
  <div class="row">
    
     <br><br><br><br><br><br><br>
      <div ng-controller="myctrl">
   <h2> Brand Logo Submision</h2>  
     <form>
 
    <input type="text" ng-model="url" placeholder="Enter Brand Logo link here" /> <br>
    <input type="text" ng-model="name" placeholder="Enter Brand Name here" /> <br>
     <button type="submit" class="btn btn-info" id="submit" ng-click="show()" >Submit</button>
     </form>
     </div>
</div>

  </div>
</div>

</body>
</html>

